{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Brandon Phillips Resume{% endblock %}</h1>
{% endblock %}

{% block content %}

<style>
  .paragraph-spacing {
    margin-bottom: 20px; /* Adjust the value as needed for the desired space */
  }
</style>

<p>
    Professional Experience</p>
    <p>Supply Chain Analyst - PENSKE LOGISTICS  - Dec 2022 - Present</p>
    <p>Reverse Logistics Analyst  - LOWE'S INC.   - Mar 2022 - September 2022</p>
    <p>Manager, Inventory and Distribution  - STIMLABS  - October 2021 - March 2022</p>
    <p class="paragraph-spacing">Supervisor, Supply Chain and Business Analytics - FEMASYS INC. - Nov 2017 - October 2021</p>
     
    
</p>

<p>
    Education</p>
    <p>CLAYTON STATE UNIVERSITY - Bachelors of Arts (BA), History - May 2007 </p>
    <p class="paragraph-spacing">EASTERN UNIVERSITY - Masters of Science (MS), Data Science - June 2024 </p>
     
    
</p>

<p>
<P>CERTIFICATIONS</p>
<p>Six Sigma Green Belt Certification -	CLAYTON STATE UNIVERSITY - Apr 2015</p>
<p>Business Intelligence Certificate - EMORY UNIVERSITY - Dec 2019</p>   
<p>Big Data Certificate	- EMORY UNIVERSITY - Aug 2020</p>
<p>Tableau Desktop Specialist - Nov 2020</p>
<p>Microsoft Certified Data Analyst Associate - License# H895-7937 - Jul 2021</p>
<p>Microsoft Certified Data Fundamentals - License# H922-4441 - Jul 2021</p>
    
    
    

    

    
 
    

    
</p>

{% endblock %}